<div id="categories-select">
  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>

  <div class="grid gap-2 grid-rows-1 p-5">
    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" (click)="openCategoryDialog()" class="green-colored hover:bg-gray-400 text-gray-800 py-2 px-4 rounded inline-flex items-center w-24">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
      </svg>
      <span>Add</span>
    </button>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option *ngFor="let category of categories">{{category.name + ", ("+ category.notes+")"}}</option>
    </select>
  </div>

</div>
